<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type='text/javascript'>

	var apiBaseUrl = 'http://api.themoviedb.org/3/';  
	var imageBaseUrl = 'http://image.tmdb.org/t/p/';	
	var apiKey = '?api_key=fec8b5ab27b292a68294261bb21b04a5';
	var npUrl  = apiBaseUrl + 'movie/now_playing' + apiKey;

    $.getJSON(npUrl, function(movieObject){
    	console.log(movieObject);
    });

    </script>
</head>
<body>
	<div class='header'>
		<h1><%= title %></h1>
		<h2>Now Playing</h2>
	</div>
	
	<table>
		<thead>
			<th>Movie Poster</th>
			<th>Movie Title</th>
			<th>Release Date</th>
			<th>Movie Overview</th>
			<th>Movie Poster 2</th>
		</thead>	
		
		<% for(var i = 0; i < movieObject.results.length; i++){ %>
		<tr>	
			<td><img src="<%= imageBaseUrl + 'w300' + movieObject.results[i].poster_path%>"</td>
			<td><%= movieObject.results[i].title %></td>
			<td><%= movieObject.results[i].release_date %></td>
			<td><%= movieObject.results[i].overview %></td>
			<td><img src="<%= imageBaseUrl + 'w300' + movieObject.results[i].backdrop_path%>"</td>
		</tr>	
		<% } %>
			
	</table>

</body>
</html>	